.tutorial{:data=>{:title=>'Creating a Contact List'}}
    .step{:data=>{:title=>'Introduction'}}
        :markdown
            Contact lists are one of the building blocks for outbound dialing campaigns. They let you specify who you want the campaign to call.
    .step{:data=>{:title=>'Session Initialization'}}
        :markdown
            To start off, you'll need to instantiate a [PureCloudSession](https://developer.mypurecloud.com/api/rest/client-libraries/javascript/latest/PureCloudSession.html) and authorize with your [OAuth client](https://developer.mypurecloud.com/api/rest/authorization/create-oauth-client-id.html).
    .step{:data=>{:title=>'Contact List Configuration'}}
        :markdown
            For your configuration, you'll need to specify a name, columnNames, and phoneColumns at a minimum. The columnNames should be the columns from your CSV file of contacts, and the phoneColumns should specify which columns are of which type of phone number. More information about contact list configuration options can be found on the [Outbound Dialing API Resource documentation](https://developer.mypurecloud.com/api/rest/v2/outbound/index.html) under POST /api/v2/outbound/contactlists.
    .step{:data=>{:title=>'Create the Contact List'}}
        :markdown
            Lastly, create an [OutboundApi](https://developer.mypurecloud.com/api/rest/client-libraries/javascript/latest/OutboundApi.html) and make the call to create your contact list! You can use the 'done' and 'error' methods to take further action depending on whether or not creating the contact list succeeded. For instance, you can get the contact list id from the object that's passed to the done method, which you may want to save for [creating a campaign](https://developer.mypurecloud.com/api/tutorials/create-campaign/#javascript). Once you've created the contact list, you'll want to [upload contacts to it](https://developer.mypurecloud.com/api/tutorials/upload-contacts/#javascript).
