.ace_blur{
    /*color: rgba(100,100,100,.2)!important;
    text-shadow: 0 0 3px #c1c6ba;*/
    background: rgba(255,255,255,0.7);
    position:absolute;
}

.ace_marker-layer{
    z-index: 100;
}

.ace_text-layer{
    z-index:1;
}

.ace-tm .ace_marker-layer .ace_active-line {
    background: rgba(0, 0, 0, 0.00);
}

.ace_blur::before {
    background-image: url('pelican.jpg');
    filter: blur(5px);
}
