!!!
%html
    %head
        %script{src:"https://code.jquery.com/jquery-1.11.3.min.js"}
        %link{href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel: "stylesheet"}
        %script{src: "/tutorials.js"}
        %script{src: "config.js"}
        %script{src: "https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js"}
        %script{src: "https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/mode-javascript.js"}
        %script{src: "https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/mode-csharp.js"}
        %script{src: "https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/mode-ruby.js"}
        %script{src: "https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/mode-golang.js"}
        %script{src: "https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/mode-php.js"}
        %script{src: "https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/mode-java.js"}
        %script{src: "https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/mode-powershell.js"}
        %link{href: "/tutorials.css", rel: "stylesheet"}
    %body{style:'margin: 20px 50px; height:900px'}
        .container-fixed
            .row
                .col-md-4
                    .container-fixed
                        .row
                            %label
                                Language
                            %select{id:'languageSelect'}
                                %options
                        .row
                            %button Menu
                            %button{id: "prev"} Prev
                            %button{id: "next"} Next
                        .row
                            = yield
                .col-md-8
                    .container-fixed
                        .row
                            File
                            #filename
                        .row
                            #editor
