---
title: Get Number of On-Queue Agents using PureCloud SDK
description: This tutorial walks through the steps of implementing a function to get the number of On-Queue Agents on a specific queue.
categories:
- Routing
steps:
- title: Introduction
  content: |
    This tutorial walks through the steps of implementing a function to get the number of On-Queue Agents on a specific queue.

    There are 5 types of Routing Status: IDLE, INTERACTING, COMMUNINCATING, OFF_QUEUE, and NOT_RESPONDING. To determine if an agent is On-Queue, he/she should have a routing status of either IDLE or INTERACTING.

    Go here for more information about [Presences and Routing Status](/api/rest/v2/presence/understanding_presence.html):

    For this tutorial, we are going to use the PureCloud SDK.

- title: Authentication
  content: |
    Authenticate with Genesys Cloud using Client Credentials. More information about authentication could be found in the [Authorization Documentation](/api/rest/authorization/)

- title: Create instance of Routing API
  content: |
    Configure the token to be used by the PureCloud SDK. This token will be sent along every API call automatically.

    Create an instance of the Routing API which will be used to make the API calls.

- title: Create the function
  content: |
    First, search for the queue using its name. It should return exactly one result, otherwise it should return an exception.

    The next API call should get the users of the queue with the desired routing status. ("IDLE", "INTERACTING").

    The number of users will simple be returned from the function.

languages: 
  python:
    displayName: Python
    steps:
    - file: "python/script.py"
      highlight: "0-68"
    - file: "python/script.py"
      highlight: "9-10"
    - file: "python/script.py"
      highlight: "12-13"
    - file: "python/script.py"
      highlight: "16-63"
  nodejs:
    displayName: NodeJS
    steps:
    - file: "nodejs/index.js"
      highlight: "0-110"
    - file: "nodejs/index.js"
      highlight: "105-110"
    - file: "nodejs/index.js"
      highlight: "12-13"
    - file: "nodejs/index.js"
      highlight: "39-102"
