.tutorial{:data =>{:title=>'Queue Conversation Notification'}}
    .step{:data=>{:title=>'Introduction'}}
        :markdown
            This tutorial walks through the steps how to integrate with PureCloud Client App SDK to get notifications on all conversations within a queue. The goal is to step through the cases when handling conversation notification on the API and will skip over authentication.

            The main topics that will be covered in the tutorial are the following:

            * Create a notification channel
            * Subscribe to Queue
            * Handle websocket messages

    .step{:data=>{:title=>'Create a Notification Channel'}}
        :markdown
            In order to subscribe to a queue, we need to create a notification channel by calling the postNotificationsChannels() method of the Notifications API.

    .step{:data=>{:title=>'Store Channel ID for Future Use'}}
        :markdown
            After calling the postNotificationsChannels() method, we will then store the Channel ID returned by the method to be able to use it in the postNotificationsChannelSubscriptions() method call.

    .step{:data=>{:title=>'Subscribe to Queue'}}
        :markdown
            In order to subscribe to a queue, we need to call the postNotificationsChannelSubscriptions() method of the Notifications API of the JavaScript PureCloud SDK passing the Channel ID variable from the postNotificationsChannels() method call.

            The Topic ID used in this tutorial the following where the queue variable stores the queueId.

            ```
            "v2.routing.queues.{queueId}.conversations"
            ```

    .step{:data=>{:title=>'Handling Websocket Messages'}}
        :markdown
            To make sure that we are getting the correct notifications, we need to check if the websocket message contains the same Topic ID we used when subscribing to the queue.

            Once the Topic ID has been validated, we can now proceed in consuming the conversation details however the app needs us to do.
			